.sidebar {
    position: fixed;
    right: -25%;
    transition: right 0.5s ease;
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .flex {
    transition: margin-right 0.5s ease;
  }
  
  .flex.open {
    margin-right: -25%;
  }
  